.product-item-info {
    position: relative;
}
.product-item-info .brikl-design-now-btn {
    background: #DF542F;
    position: absolute;
    width: 50%;
    display: block;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    top: calc(50% - 15px - 15px);
    left: calc(100%/2 - 50%/2);
    z-index: 10;
    outline: 0;
    opacity: 0;
    border: 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.37);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.37);
    transition: none;
}
.product-item-info:hover .brikl-design-now-btn,
.product-item-info.hover .brikl-design-now-btn {
    opacity: 1;
    transition: opacity .2s linear;
}
.product-item-info:hover .brikl-design-now-btn:hover,
.product-item-info.hover .brikl-design-now-btn:hover {
    background: #CA4C2B;
}
.product-item-info:hover .brikl-design-now-btn ~ * form,
.product-item-info:hover .brikl-design-now-btn ~ form,
.product-item-info.hover .brikl-design-now-btn ~ * form,
.product-item-info.hover .brikl-design-now-btn ~ form {
    display: none;
}
